<!DOCTYPE html>
<html>
<head>
  <title>Đăng nhập</title>
</head>
<body>
  <h1>Đăng nhập</h1>
  <form action="/login" method="POST">
    <label for="username">Tên đăng nhập:</label>
    <input type="text" id="UserName" name="UserName" required>
    <br>
    <label for="password">Mật khẩu:</label>
    <input type="password" id="PassWord" name="PassWord" required>
    <br>
    <button type="submit">Đăng nhập</button>
  </form>
</body>
</html>
